:root {
    --bg: #101010;
    --text: #f2f2f2;
    --muted: #b8b8b8;
    --border: #5a5a5a;
    --border-muted: #3a3a3a;
    --radius-md: 0px;

    --font-sans: "Carme", system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-sans);
    background: var(--bg);
    color: var(--text);
}

a {
    color: inherit;
    text-decoration: none;
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    white-space: nowrap;
    letter-spacing: normal;
    text-transform: none;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    line-height: 1;
    user-select: none;
}