:root {
    --bg: #101010;
    --text: #f2f2f2;
    --muted: #b8b8b8;
    --border: #5a5a5a;
    --radius-md: 10px;

    --font-sans: "Carme", system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-sans);
    background: var(--bg);
    color: var(--text);
}

a {
    color: inherit;
    text-decoration: none;
}