spring:
  application:
    name: backend
  datasource:
    url: jdbc:mysql://localhost:3306/megnarealestate?createDatabaseIfNotExist=true
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true